:root {
    --pf-global--primary-color--100: #4986bd;
}

.login-pf body {
    background: url("../img/ordi-bleu-vert-prononce.svg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    background-image: url("../img/picto_flat.svg");
    background-repeat: no-repeat;
    background-size: 136px 136px;
    height: 136px;
    width: 136px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .login-pf body {
	display: flex;
        flex-direction: column;
        background: url("../img/telephone-bleu-vert-prononce.svg") white;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .login-pf-page {
        margin: auto;
        padding-top: 0;
    }

    #kc-header-wrapper {
        padding: 20px 0 0 0;
    }
}
